.header {
  background: url("../img/header-background.webp") #1b2d37;
  min-height: 658px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  overflow: hidden;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/header-background@2x.webp");
    background-size: 100% 100%;
  }
}

.header-wrapper {
  max-width: 1160px;
  margin: 0 auto;
  padding-top: 30px;
}

@media (max-width: $tablet-width) {
  .header {
    min-height: 554px;
  }

  .header-wrapper {
    max-width: 1199px;
    padding-top: 40px;
    padding-left: 45px;
    padding-right: 45px;
  }
}

@media (max-width: $tablet-width) {
  .header-wrapper {
    max-width: $tablet-width;
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 40px;
  }
}

@media (max-width: $mobile-width) {
  .header {
    min-height: 491px;
  }

  .header-wrapper {
    max-width: $mobile-width;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;
  }
}
