.promo {
  max-width: 1141px;
  margin: 0 auto;
}

.promo__header {
  font-size: 109px;
  line-height: 109px;
  letter-spacing: 0.03em;
  font-family: $font-stack-one;
  color: $second-text-color;
  text-transform: uppercase;
  text-align: right;
  width: 293px;

  @include no-marg-padd;
}

.promo__header--first {
  @include no-marg-padd;
  font-size: 49px;
  line-height: 49px;
  letter-spacing: 0.03em;
  font-family: $font-stack-one;
  color: $second-text-color;
  text-transform: uppercase;
  font-weight: 400;
  text-align: right;
  width: 293px;
  margin-bottom: 13px;
}

.promo__wrapper {
  position: relative;
  padding-top: 111px;
  padding-left: 95px;
}

.promo__wrapper-content {
  position: relative;
  width: 1141px;
  margin: 0 auto;

  &::before {
    content: "";
    position: absolute;
    background: url("../img/SuperOmich.png");
    background-color: #1b2d37;
    background-repeat: no-repeat;
    width: 500px;
    height: 556px;
    bottom: -160px;
    left: 357px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/SuperOmich@2x.png");
      background-size: 100% auto;
    }
  }
}

.promo__button {
  display: inline-block;
  margin-top: 57px;
  margin-left: 60px;
  width: 234px;
  height: 59px;
  outline: none;

  &:hover,
  &:focus {
    animation: blink-1 0.6s both;
  }

  &:active {
    opacity: 0.8;
  }
}

.promo__text-wrapper {
  position: absolute;
  bottom: 28px;
  left: -83px;
}

.promo__text {
  font-family: $font-stack-two;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  align-items: center;
  text-align: right;
  color: $second-text-color;

  @include no-marg-padd;
}

.promo__social-list {
  position: absolute;
  right: -12px;
  bottom: -3px;
  list-style: none;

  @include no-marg-padd;
}

.promo__social-list-item {
  margin-bottom: 16px;

  &:last-child {
    margin-bottom: 0;
  }
}

.promo__social-link {
  text-decoration: none;
  color: $second-text-color;
  text-transform: uppercase;
  font-family: $font-stack-two;
  font-size: 12px;
  line-height: 14px;
  outline: none;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (max-width: $tablet-width) {
  .promo__header {
    font-size: 86px;
    line-height: 86px;
  }

  .promo__header--first {
    font-size: 34px;
    line-height: 34px;
    margin-bottom: 6px;
  }

  .promo__wrapper {
    padding-top: 72px;
    padding-left: 76px;
  }

  .promo__text-wrapper {
    position: absolute;
    bottom: 18px;
    left: -31px;
  }

  .promo__button {
    margin-top: 40px;
    margin-left: 108px;
    padding: 20px 28px;

    width: 187px;
    height: 61px;
  }

  .promo__social-list {
    @include visually-hidden;
  }

  .promo__wrapper-content {
    &::before {
      content: "";
      position: absolute;
      background: url("../img/SuperOmich-tablet.png");
      background-color: #1b2d37;
      background-repeat: no-repeat;
      width: 324px;
      height: 390px;
      bottom: -124px;
      left: 323px;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/SuperOmich-tablet@2x.png");
        background-size: 100% auto;
      }
    }
  }
}

@media (max-width: $mobile-width) {
  .promo__header {
    font-size: 78px;
    line-height: 78px;
  }

  .promo__header--first {
    font-size: 28px;
    line-height: 28px;
    margin-bottom: 11px;
  }

  .promo__wrapper {
    padding-top: 72px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .promo__text-wrapper {
    bottom: 10px;
    left: 2px;
  }

  .promo__button {
    width: 100%;
    margin-left: 0;
  }

  .promo__wrapper-content {
    width: 100%;

    &::before {
      display: none;
    }
  }
}
