
.promo__header {
  font-size: 109px;
  line-height: 109px;
  letter-spacing: 0.03em;
  font-family: $font-stack-one;
  color: $second-text-color;
  text-transform: uppercase;
  text-align: right;
  width: 293px;

  @include no-marg-padd;
}

.promo__header--first {
  @include no-marg-padd;
  font-size: 49px;
  line-height: 49px;
  letter-spacing: 0.03em;
  font-family: $font-stack-one;
  color: $second-text-color;
  text-transform: uppercase;
  font-weight: 400;
  text-align: right;
  width: 293px;
  margin-bottom: 13px;

}

.promo__wrapper {
  position: relative;
  padding-top: 111px;
  padding-left: 187px;
}

.promo__wrapper-content {
  position: relative;
  width: 1141px;
  margin: 0 auto;

  &:before {
    content: "";
    position: absolute;
    background-color: #1b2d37;
    background: url("../img/SuperOmich.png");
    background-repeat: no-repeat;
    width: 500px;
    height: 556px;
    bottom: -160px;
    left: 357px;
  }
}

.promo__button {
  display: inline-block;
  margin-top: 57px;
  margin-left: 79px;
  width: 234px;
  height: 59px;

  &:hover,
  &:focus {
    background: #023C83;
    color: #efff6f;
  }

  &:active {
    opacity: 0.6;
  }
}

.promo__text-wrapper {
  position: absolute;
  bottom: 28px;
  left: -83px;
}

.promo__text {
  font-family: $font-stack-two;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  align-items: center;
  text-align: right;
  color: $second-text-color;

  @include no-marg-padd;
}

.promo__social-list {
  position: absolute;
  right: 102px;
  bottom: -3px;
  list-style: none;
  @include no-marg-padd;
}

.promo__social-list-item {
  margin-bottom: 16px;

  &:last-child {
    margin-bottom: 0;
  }
}

.promo__social-link {
  text-decoration: none;
  color: $second-text-color;
  text-transform: uppercase;
  font-family: $font-stack-two;
  font-size: 12px;
  line-height: 14px;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}
