.review {
  padding-left: 103px;
  padding-right: 103px;
  padding-top: 167px;
  padding-bottom: 270px;
}

.review__wrapper {
  width: 350px;
  padding-left: 60px;
  position: relative;

  &:before {
    content: "";
    position: absolute;
    background-color: #1b2d37;
    background: url("../img/Gym.png");
    background-repeat: no-repeat;
    width: 660px;
    height: 401px;
    bottom: -30px;
    left: 500px;
  }
}

.review__header {
  @include no-marg-padd;
  font-family: $font-stack-one;
  font-size: 49px;
  line-height: 49px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  margin-bottom: 3px;
}

.review__sub-header {
  font-family: $font-stack-two;
  font-size: 18px;
  line-height: 150%;
  @include no-marg-padd;

  margin-bottom: 38px;

}

.review__text {
  @include small-text;
  @include no-marg-padd;

  margin-bottom: 9px;
}
