.review {
  max-width: 1366px;
  margin: 0 auto;

  padding-left: 103px;
  padding-right: 103px;
  padding-top: 120px;
  padding-bottom: 153px;

  display: flex;
  justify-content: space-between;
}

.review__header {
  @include no-marg-padd;
  @include section-header-desktop;

  margin-top: 49px;
  margin-bottom: 8px;
}

.review__sub-header {
  font-family: $font-stack-two;
  font-size: 18px;
  line-height: 150%;

  @include no-marg-padd;

  margin-bottom: 38px;
}

.review__text {
  @include small-text;
  @include no-marg-padd;

  margin-bottom: 9px;
}

.review__video-wrapper {
  position: absolute;
  top: -117px;
  right: 46px;
}

.review__photo-wrapper {
  position: relative;
}

.review__wrapper {
  width: 350px;
  position: relative;
  margin-left: 60px;
}

.review__video-wrapper button {
  width: 100px;
  height: 100px;
  border: none;
  background: url("../img/play-button.svg") no-repeat center;
  cursor: pointer;
  border-radius: 50%;
  outline: none;
  position: absolute;
  top: 64px;
  left: 134px;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

@media (max-width: $tablet-width) {
  .review {
    flex-direction: column;
    padding-top: 99px;
    padding-left: 45px;
    padding-right: 45px;
  }

  .review__header {
    @include section-header-tablet;
    text-align: center;
    margin-top: 0;
  }

  .review__wrapper {
    width: 100%;
    margin-left: 0;
  }

  .review__sub-header {
    text-align: center;
  }

  .review__text {
    text-align: center;
    width: 501px;
    margin: 0 auto;
  }

  .review__text--desktop {
    @include visually-hidden;
  }

  .review__photo-wrapper {
    padding-top: 39px;
  }
}

@media (max-width: $mobile-width) {
  .review {
    padding-top: 69px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .review__wrapper {
    padding-left: 0;
  }

  .review__sub-header {
    text-align: left;
    margin-bottom: 22px;
  }

  .review__header {
    @include section-header-mobile;
    text-align: left;
  }

  .review__text {
    text-align: left;
    width: 100%;
    padding-right: 29px;
  }
}
