//devices
$mobile-width: 767px;
$tablet-width: 1199px;
$desktop-width: 1200px;
//colors
$gradient-color-top: #d10a42;
$competition-background-color: #ed0233;
$gradient-color-bottom: #00359f;
$footer-section-color: #030a1a;
$background-color-light: #ffffff;
$background-color-dark: #f7f7f7;
$main-text-color: #102654;
$blocks-background-color: #1c3374;
$advantages-border-color: rgba(209, 10, 66, 0.2);
$small-text-color: #495a7d;
$second-text-color: #ffffff;
$second-background-color: #f8f9fc;
$border-subscriptions-color: rgba(120, 120, 120, 0.2);
$border-input-color: #74819c;
$button-hover-color: #dff815;
$small-letters-color: #2e35ac;
$coaches-info-text-color: #b6bdcc;

//retina
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

//fonts
$font-stack-one: "Bebas Neue", "Helvetica", sans-serif;
$font-stack-two: "Roboto Condensed", "Arial", sans-serif;
