//devices
$mobile-width: 767px;
$tablet-width: 1199px;
$desktop-width: 1200px;
//colors
$gradient-color-top: #d10a42;
$gradient-color-bottom: #00359f;
$footer-section-color: #030a1a;
$background-color-light: #ffffff;
$background-color-dark: #f7f7f7;
$main-text-color: #102654;
$small-text-color: #495a7d;
$second-text-color: #ffffff;
$second-background-color: #f8f9fc;
$border-subscriptions-color: rgba(120, 120, 120, 0.2);
$button-hover-color: #efff6f;

//retina
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

//fonts
$font-stack-one: "Bebas Neue", "Helvetica", sans-serif;
$font-stack-two: "Roboto Condensed", "Arial", sans-serif;
